.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.error {
  white-space: break-spaces;
}
